//-----------------------------------------
// Typography Settings
//-----------------------------------------
$line-height: 1.3;
$font-size-body: 1.6rem;

$font-weight-normal: 400;
$font-weight-bold: 700;

$font-family-body: '';
$font-weight-body: $font-weight-normal;

$font-family-heading: '';
$font-weight-heading: $font-weight-bold;
